html,body{
    height: 100%;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2rem;
    background-image:url(//09-countdownTimer/assests/timer.jpg) ;
    background-size: cover;
}

h1{
    color: whitesmoke;
}

.container{
    display: flex;
    gap: 2rem;
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: .5rem;
    background-color: whitesmoke;
}

.inputs{
    display: flex;
    flex-direction: column; 
    gap: .5rem;
    width: 100px;
}

