body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

#counter{
    display: flex;
    width: 100%;
    justify-content: center;  
}

#counterDisplay{
    font-size: 5rem;
    text-align: center;
    color: white;
    
}

#counter button{
    border: 0;
    padding: .5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#counterAdd{
    background-color: cyan;
}

#counterSub{
    background-color: forestgreen;
}